# Full list: https://clang.llvm.org/extra/clang-tidy/
# Disabled because...
# * readability-container-size-empty -- in Catch2 tests, comparing with empty string produces better failed test message
Checks: >
  bugprone-*,
  -bugprone-branch-clone,
  clang-analyzer-*,
  clang-diagnostic-*,
  misc-*,
  -misc-unused-parameters,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  performance-*,
  portability-*,
  readability-*,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-make-member-function-const,
  -readability-redundant-access-specifiers,
  -readability-uppercase-literal-suffix,
  -readability-named-parameter,
  -readability-convert-member-functions-to-static,
  -readability-simplify-boolean-expr,
  -readability-container-size-empty,
  -readability-function-cognitive-complexity,
  google-default-arguments,
  google-runtime-operator

#-bugprone-bool-pointer-implicit-conversion
#-bugprone-exception-escape
#-misc-bool-pointer-implicit-conversion
#-misc-definitions-in-headers
#-misc-unused-alias-decls
#-misc-unused-using-decls
#-modernize-use-default-member-init
#-readability-function-size
#-readability-identifier-naming
#-readability-isolate-declaration
#-readability-redundant-member-init
#-readability-redundant-preprocessor
