# Full list: https://clang.llvm.org/extra/clang-tidy/
# Disabled because...
# * clang-analyzer-security.insecureAPI.bzero -- bzero is used internally by system macros (e.g. FD_ZERO)
# * concurrency-mt-unsafe -- reports exit() etc., not going to fix that
# * readability-container-size-empty -- in Catch2 tests, comparing with empty string produces better failed test message
# * readability-qualified-auto -- wants to auto `const auto*` for `std::string_view::iterator` on Clang => that would be unportable
# * modernize-redundant-void-arg -- used intentionally in xci::script to emphasize visitors of 'void' type
# * performance-no-int-to-ptr -- nothing found in our code, but warns about SIG_ERR macro content
Checks: >
  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-sizeof-expression,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.bzero,
  clang-diagnostic-*,
  concurrency-*,
  -concurrency-mt-unsafe,
  google-default-arguments,
  google-global-names-in-headers,
  google-runtime-operator,
  llvm-namespace-comment,
  misc-*,
  -misc-unused-parameters,
  -misc-non-private-member-variables-in-classes,
  -misc-no-recursion,
  modernize-*,
  -modernize-avoid-c-arrays,
  -modernize-deprecated-headers,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  -modernize-redundant-void-arg,
  -modernize-return-braced-init-list,
  performance-*,
  -performance-no-int-to-ptr,
  portability-*,
  readability-*,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers,
  -readability-braces-around-statements,
  -readability-make-member-function-const,
  -readability-redundant-access-specifiers,
  -readability-uppercase-literal-suffix,
  -readability-named-parameter,
  -readability-convert-member-functions-to-static,
  -readability-simplify-boolean-expr,
  -readability-container-size-empty,
  -readability-function-cognitive-complexity,
  -readability-else-after-return,
  -readability-qualified-auto,
  -readability-isolate-declaration,
  -readability-identifier-length
CheckOptions:
  - key: bugprone-narrowing-conversions.WarnOnIntegerToFloatingPointNarrowingConversion
    value: 'false'
  - key: bugprone-narrowing-conversions.WarnOnFloatingPointNarrowingConversion
    value: 'false'
