# Clang-format style for xcikit
# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# https://llvm.org/docs/CodingStandards.html
# clang-format -style=llvm -dump-config
BasedOnStyle: LLVM

UseTab: Never
IndentWidth: 4
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
IndentCaseLabels: true
IndentCaseBlocks: false
ColumnLimit: 100

AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
IncludeCategories:
  - Regex:           '^<catch2'
    Priority:        1
  - Regex:           '^"'
    Priority:        2
  - Regex:           '^<xci/'
    Priority:        3
  - Regex:           '^<'
    Priority:        4
#InsertTrailingCommas: Wrapped
MaxEmptyLinesToKeep: 2
PointerAlignment: Left
SortIncludes: Never
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpacesBeforeTrailingComments: 2
SpacesInContainerLiterals: false
