/artifacts/
/*build*/
/test_package/build/
/share/fonts/Hack/
/share/fonts/Hack-*.tar.xz
/share/fonts/Noto/
/share/fonts/Lora-Variable.zip
/share/fonts/Lora/
/share/fonts/RobotoMono/
/share/fonts/cmake.lock

/.idea/
