name: Lint
on: [push]

jobs:
  check:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          show-progress: false

      - name: check
        run: ./check.sh
        shell: bash
